body{
    text-align: center;
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    background-repeat: no-repeat;
    min-width: 375px;
}
div, span{
    margin: 0;
}

.num{
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
    border: 0.1px solid rgba(87, 83, 83, .2);
    font-size: 18px;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
}
.num:hover{
    background-color: rgba(0, 0, 0, .35); 
    box-shadow: 1px 1px 40px rgba(0, 0, 0, .2);  
}
.num:active{
    background-color: #6fff67;
    color: black;
}

.calcForm{
    margin: 15px auto 100%;
    width: 360px;
    height: 620px;
    border-radius: 15px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, .5);
}
.zeroBtn{
    width: 180px;
    height: 90px; 
    border-radius: 0 0 0 15px; 
}
.rowBtn{
    font-size: 0;
}

.table{
    text-align: right;
    font-size: 28px;
    height: 170px;
    width: 320px; 
    margin: 0; 
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.scoreboard{
    padding: 0;
    border: 0;
    height: 170px;
    width: 360px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 15px 15px 0 0;
}
.ecuals{
    border-radius: 0 0 15px 0;
}